body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .map-container {
    width: 100%!important;
    height: 500px!important;
    margin-bottom: 50px;
  }

  .box-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 71px;
    /* align-items: center; */
    justify-content: center;
  }
  
  form {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    width: 100%;
    max-width: 500px;
  }
  
  form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: var( --color-secondary);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form button:hover {
    background-color: var(--color-primary);
  }
  
  .table-container {
    width: 100%;
    max-width: 500px;
  }

  .table-container select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #c5c5c5;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }

  td {
    background-color: var(--background-color-soft);
  }
  
  th {
    background-color: var(--color-secondary);
  }

  .leaflet-green-icon {
    filter: hue-rotate(180deg);
  }
  
  .leaflet-blue-icon {
    filter: hue-rotate(240deg);
  }
  